<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--消息队列配置-->
    <add key="Queue_ServerName" value="*.*.*.*" />
    <add key="Queue_VritualHost" value="****" />
    <add key="Queue_UserName" value="****" />
    <add key="Queue_Password" value="****" />
  </appSettings>
</configuration>