/**
 
 @Name：layui debug
 @Auther：贤心
 @Email：xu@sentsin.com
 
 */

/* 该css就绪 */
html #layuicss-layui-debug{display:none; position: absolute; width:1989px;}

/* mobile */
.layui-debug-main{position:fixed; bottom:0; right:0; font-size:1.6rem; width:100%; pointer-events:auto; z-index:666666666}
.layui-debug-main .layui-iconfont{line-height:30px; font-size:2.4rem; color:#666; top:0;}
.layui-debug-kzt{position:absolute; left:5px; bottom:5px; width:30px; height:30px; padding:5px; border-radius:100%; background-color:#01BCF3}
.layui-debug-kzt .layui-iconfont{font-size:3rem; color:#fff;}
.layui-debug-panel{display:none; border-top:1px solid #ACACAC; border-bottom:1px solid #ACACAC; background-color:#fff;}
.layui-debug-panel .layui-debug-title{padding:0 10px; height:30px; line-height:30px; background-color:#DFDFDF; border-bottom:1px solid #ACACAC;}
.layui-debug-title{position:relative; color:#666;}
.layui-debug-title li{display:inline-block; vertical-align: top;}
.layui-debug-log{height:120px; padding:10px; overflow-y:auto; font-size:1.4rem;}
.layui-debug-close{position:absolute; right:8px; }
.layui-debug-refresh{position: absolute; font-size:2.2rem; right:38px;}


