<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="F:\LogDirectory\LayIM_RongCloud_Chat\" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间: %date%n线程ID: [%thread]%n日志级别: %-5level%n所在类: %logger property:[%property{NDC}] -%n日志描述: %n%message%n%n%n" />
      </layout>
    </appender>
  </log4net>
</configuration>