.layim-msgbox {
    margin: 15px;
}

.layim-msgbox li {
    position: relative;
    margin-bottom: 10px;
    padding: 0 130px 10px 60px;
    padding-bottom: 10px;
    line-height: 22px;
    border-bottom: 1px dotted#e2e2e2;
}

.layim-msgbox.layim-msgbox-tips {
    margin: 0;
    padding: 10px 0;
    border: none;
    text-align: center;
    color: #999;
}

.layim-msgbox.layim-msgbox-system {
    padding: 0 10px 10px 10px;
}

.layim-msgbox li p span {
    padding-left: 5px;
    color: #999;
}

.layim-msgbox li p em {
    font-style: normal;
    color: #FF5722;
}

.layim-msgbox-avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

.layim-msgbox-user {
    padding-top: 5px;
}

.layim-msgbox-content {
    margin-top: 3px;
}

.layim-msgbox.layui-btn-small {
    padding: 0 15px;
    margin-left: 5px;
}

.layim-msgbox-btn {
    position: absolute;
    right: 0;
    top: 12px;
    color: #999;
}