    /*
            自己前端是个弱项啊，扒了些css
            */
        .layui-form-button {
            margin-left:10px;
            width: auto;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            font-size: 14px;
            border: none;
            background-image: none;
            background-color: #FF8C69;
            color: #fff;
            cursor: pointer;
            overflow: hidden;
            border-radius: 2px;
        }
        .btn-add {
            height: 20px;
            padding:0 10px;
            line-height:20px;
            background-color:#1C86EE;
        }
.btn-refuse {
     height: 20px;
            padding:0 10px;
            line-height:20px;
            background-color:#CD5B45;
}
.btn-ignore {
     height: 20px;
            padding:0 10px;
            line-height:20px;
            background-color:#1C86EE;
}
.btn-handled {
     height: 20px;
            padding:0 10px;
            line-height:20px;
            background-color:#CD5B45;
}
.handled {
    color:gray;background-color:#F0F0F0;
    float:right;
}
.time-handled {
float:right;margin-right:20px;color:orange;
}
div .btn-container {
    width:200px;height:50px;margin-top:5px;
}

        .layui-layim-list li img {
            width: 50px;
            height: 50px;
            border-radius: 10%;
        }

        .layui-layim-list li span {
            margin-top:10px;
            margin-left: 10px;
        }
        .layui-layim-list li p {
            margin-left:10px;margin-top:6px;
        }
        .layui-layim-list li {
            height: 80px;
        }